@{
    ViewBag.Title = "About";
}



<div id="container">
    <h1>Cv</h1>
    <div class="content">
        <h2>Operational IT Support Coordinator - Voith Industrial Services/Leadec - 09/2014 - Present</h2>
        <span>
            <br />- Diagnosing networking issues such as, duplicate IP’s, DHCP scoping issues and Wi-Fi configuration optimisations needed.
            <br />- Production server failed overs and excellent crisis management
            <br />- Problem solving.
            <br />* Created an Intranet hub and visualisation dashboard of the marshalling bank-calc system.
            <br />* Created an automated SSRS printing solution using PowerShell.
            <br />* Created a program in Python3 to control import process of orders into our third-party application server.
            <br />* Querying SQL database for data and producing SQL SSRS reports. Also went on an week long SSIS ETL Developer course.
            <br />- Communication
            <br />* Liaised with software and hardware vendors.
            <br />* Reported to the Head of IT, Operations Managers, Project Managers.
            <br />Systems automation, data analytics, web development, SSRS reports, MS SQL Server, liaise with software & hardware vendors, software product testing, Install network hardware at height, VMWare.

        </span>
        <br>
        <br>
        <br>
        <h2>Voluntary Technical Support (Yellow Shirt) - Multiplay, I52 Gaming Festival 08/2014 - 06/2014</h2>
        <br>
        <h2>Voluntary Retail Assistant - British Heart Foundation 08/2014 - 06/2014</h2>
        <br>
        <h2>Charity Fundraiser - Liverpool Home Fundraising	04/2014 - 05/2014</h2>
        <br>
        <h2>IT Technician - St-Anselms College 	09/2010 - 04/2011</h2>
        <br>
        <h2>IT Support - West Kirby  Learning Centre	05/2010 </h2>
        <br>
        <h2>Web Dev/Graphics Artist/Technician - Media Manufacturing Services Ltd	2005-2009</h2>
        <br>
        <p>
            You can request a full CV by contacting me.
        </p>
    </div>

</div>