@{
    ViewBag.Title = "Contact";
}

<div id="lvcontainer">
    <h1>Contact</h1>
    <div class="lvcontent">
        <span>
            You can contact me at <a href="https://twitter.com/daedenlv">@@daedenlv</a> at twitter.
        </span>
        <br />
        <br />
        <span style="color:white;">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
            <br>
        </span>
    </div>
</div>
