@model IEnumerable<LukesBlog.DataAccessLayer.Models.BlogPost>

@{
    ViewBag.Title = "Home Page";
}

<div id="lvcontainer">

    @foreach(var item in Model)
    {
        @Html.Raw(item.ToHTMLBlogPost());
    }

</div>

