@{
    ViewBag.Title = "Pictures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="container">
    <h1>Pictures</h1>
    <br>
    <div class="content">
        <span>
            You can view Pictures from my Mexico trip, Snowdon and Scarfell hikes <a href="https://1drv.ms/f/s!Alausfg9Uy5GhcJGqoob2JCP5AcAtg">here</a>
        </span>
        <br>
        <br>
        <span style="color:white;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
        <br>
        </span>

    </div>
</div>