
@{
    ViewBag.Title = "Pictures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="container">
    <h1>Pictures</h1>
    <br>
    <div class="content">
        <h2>Mexico Trip</h2>
        <div class="gallery">
            <div class="pic">
                <p class="label">Airoplane before leaving</p>
                <img src="~/Content/pictures/Mexico/min/20160413_065104.jpg" alt="Airoplane before leaving" />
            </div>
            @*<div class="pic">
                    <p class="label">Walk way at the resort</p>
                    <img src="~/Content/pictures/Mexico/min/20160413_231834.jpg" alt="Walk way at the resort" />
                </div>*@
            <div class="pic">
                <p class="label">Home of Cortes the spanish explorer</p>
                <img src="~/Content/pictures/Mexico/min/20160416_210830.jpg" alt="Restaurant in home Cortes the spanish explorer" />
            </div>
            <div class="pic">
                <p class="label">On the roof of Cortes home</p>
                <img src="~/Content/pictures/Mexico/min/20160416_212534.jpg" alt="On the roof of Cortes home" />
            </div>
            <div class="pic">
                <p class="label">On the roof of Cortes home</p>
                <img src="~/Content/pictures/Mexico/min/20160416_212541.jpg" alt="On the roof of Cortes home" />
            </div>
            <div class="pic">
                <p class="label">On the roof of Cortes home</p>
                <img src="~/Content/pictures/Mexico/min/20160416_212555.jpg" alt="On the roof of Cortes home" />
            </div>
            <div class="pic">
                <p class="label">On the roof of Cortes home</p>
                <img src="~/Content/pictures/Mexico/min/20160416_212625.jpg" alt="On the roof of Cortes home" />
            </div>
            <div class="pic">
                <p class="label">Swimming area at XelHa</p>
                <img src="~/Content/pictures/Mexico/min/20160418_214129.jpg" alt="Swimming area at XelHa" />
            </div>
            <div class="pic">
                <p class="label">Relaxation area at XelHa</p>
                <img src="~/Content/pictures/Mexico/min/20160418_214148.jpg" alt="Relaxation area at XelHa" />
            </div>
            <div class="pic">
                <p class="label">Swimming area at XelHa</p>
                <img src="~/Content/pictures/Mexico/min/20160418_214205.jpg" alt="Swimming area at XelHa" />
            </div>
            <div class="pic">
                <p class="label">Clear Water :)</p>
                <img src="~/Content/pictures/Mexico/min/20160418_214220.jpg" alt="Clear Water :)" />
            </div>
            <div class="pic">
                <p class="label">Snorklers at XelHa</p>
                <img src="~/Content/pictures/Mexico/min/20160418_223643.jpg" alt="Snorklers at XelHa" />
            </div>
            <div class="pic">
                <p class="label">Main enterance at resort</p>
                <img src="~/Content/pictures/Mexico/min/20160419_013302.jpg" alt="Main enterance at resort" />
            </div>
            <div class="pic">
                <p class="label">Walk way at the resort at night</p>
                <img src="~/Content/pictures/Mexico/min/20160419_013311.jpg" alt="Walk way at the resort at night" />
            </div>
            <div class="pic">
                <p class="label">Walk ways at night</p>
                <img src="~/Content/pictures/Mexico/min/20160419_022534.jpg" alt="Walk ways at night" />
            </div>
            <div class="pic">
                <p class="label">Fire Dancers</p>
                <img src="~/Content/pictures/Mexico/min/20160420_020350.jpg" alt="Fire Dancers" />
            </div>
        </div>
    </div>

    <div class="content">
        <h2>Hiking - Snowdon</h2>
        <div class="gallery">
            <div class="pic">
                <p class="label">Going up Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_131329.jpg" alt="Going up Snowdon" />
            </div>
            <div class="pic">
                <p class="label">Going up Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_131334.jpg" alt="Going up Snowdon" />
            </div>
            <div class="pic">
                <p class="label">A view down from Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_134407.jpg" alt="A view down from Snowdon" />
            </div>
            <div class="pic">
                <p class="label">View of from Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_135432.jpg" alt="View of from Snowdon" />
            </div>
            <div class="pic">
                <p class="label">View of from Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_135437.jpg" alt="View of from Snowdon" />
            </div>
            <div class="pic">
                <p class="label">View of from Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_135441.jpg" alt="View of from Snowdon" />
            </div>
            <div class="pic">
                <p class="label">A view down from Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_135446.jpg" alt="A view down from Snowdon" />
            </div>
            <div class="pic">
                <p class="label">Going up Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_135637.jpg" alt="Going up Snowdon" />
            </div>
            <div class="pic">
                <p class="label">Misty near top</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_143045.jpg" alt="Misty near top" />
            </div>
            <div class="pic">
                <p class="label">Misty railroad</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_143052.jpg" alt="Misty railroad" />
            </div>
            <div class="pic">
                <p class="label">Misty railroad</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_144555.jpg" alt="Misty railroad" />
            </div>
            <div class="pic">
                <p class="label">Misty railroad</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_144559.jpg" alt="Misty railroad" />
            </div>
            <div class="pic">
                <p class="label">Misty railroad</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_144601.jpg" alt="Misty railroad" />
            </div>
            <div class="pic">
                <p class="label">Near the summit</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_151049.jpg" alt="Near the summit" />
            </div>
            <div class="pic">
                <p class="label">Near the summit</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_151053.jpg" alt="Near the summit" />
            </div>
            <div class="pic">
                <p class="label">Misty near the summit</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_151058.jpg" alt="Misty near the summit" />
            </div>
            <div class="pic">
                <p class="label">Cafe on the summit</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_161039.jpg" alt="Cafe on the summit" />
            </div>
            <div class="pic">
                <p class="label">View down from summit</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_162528.jpg" alt="View down from summit" />
            </div>
            <div class="pic">
                <p class="label">View down from Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_164649.jpg" alt="View down from Snowdon" />
            </div>
            <div class="pic">
                <p class="label">View down from railway</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_165207.jpg" alt="View down from railway" />
            </div>
            <div class="pic">
                <p class="label">View down from Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_165221.jpg" alt="View down from Snowdon" />
            </div>
            <div class="pic">
                <p class="label">View down from Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_165242.jpg" alt="View down from Snowdon" />
            </div>
            <div class="pic">
                <p class="label">View down from railway</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_165251.jpg" alt="View down from railway" />
            </div>
            <div class="pic">
                <p class="label">View down from Snowdon</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_173423.jpg" alt="View down from Snowdon" />
            </div>
            <div class="pic">
                <p class="label">Horse on the path</p>
                <img src="~/Content/pictures/Snowdon/min/20150729_183036.jpg" alt="Horse on the path" />
            </div>



        </div>
    </div>

    <div class="content">
        <h2>Hiking - Scafell Pike</h2>
        <div class="gallery">
            <div class="pic">
                <p class="label">View down Scafell</p>
                <img src="~/Content/pictures/Scafell/min/20160801_161657.jpg" alt="View down Scafell" />
            </div>
            <div class="pic">
                <p class="label">River at base</p>
                <img src="~/Content/pictures/Scafell/min/20160801_135758.jpg" alt="River at base" />
            </div>
            <div class="pic">
                <p class="label">Another view of the river</p>
                <img src="~/Content/pictures/Scafell/min/20160801_141922.jpg" alt="Another view of the river" />
            </div>
            <div class="pic">
                <p class="label">Bridge over the river</p>
                <img src="~/Content/pictures/Scafell/min/20160801_153342.jpg" alt="Bridge over the river" />
            </div>

        </div>
    </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>


<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var imgs = document.getElementsByClassName('pic');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    for (var i = 0; i < imgs.length; i++) {
        img = imgs[i].getElementsByTagName("img");
        img[0].onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src.replace("min/","");
            captionText.innerHTML = this.alt;
        }
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>


