
@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="lvcontainer">
    <h1>Skills</h1>

    Click blue arrows for more info.
    <div class="lvcontent ui container">
        <table class="ui very basic fixed large table">
            <thead>
                <tr>
                    <th>Key Skills</th>
                    <th>Technical Skills</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="title">
                            <i class="large green checkmark icon"></i>
                            Good Communication Skills
                        </div>
                    </td>
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <i class="large blue dropdown icon"></i>
                                Win95 -> Windows 10
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    I have experience of operating Windows OS's way back to before Windows95 even Win3.1
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="title">
                            <i class="large green checkmark icon"></i>
                            Dedication and persistance
                        </div>

                    </td>
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <i class="large blue dropdown icon"></i>
                                Microsoft Applications
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    I have expereince supporting users operating many Microsoft products. Outlook, Word, Excel just to name a few.
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- Key Skill -->
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <i class="large blue dropdown icon"></i>
                                Full Clean Driving License
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    I've held full driving license for over 10 years and clean with no convictions.
                                </p>
                            </div>
                        </div>
                    </td>
                    <!-- Tech Skill -->
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <i class="large blue large blue dropdown icon"></i>
                                PowerShell
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    See Projects Page for some examples. I hope to do some more advanced PowerShell projects future.
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- Key Skill -->
                    <td>
                        <div class="title">
                            <i class="large green large green checkmark icon"></i>
                            Staff and End-User Training
                        </div>
                    </td>
                    <!-- Tech Skill -->
                    <td>
                        <div class="title">
                            <i class="large green checkmark icon"></i>
                            Network TCP/IP
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- Key Skill -->
                    <td>
                        <div class="title">
                            <i class="large green checkmark icon"></i>
                            Testing and Trouble Shooting
                        </div>
                    </td>
                    <!-- Tech Skill -->
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <i class="large blue dropdown icon"></i>
                                MS SQL Server / SSRS
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    I have over 2 years experience with MS SQL Server, SSRS and SSIS and have recieved ETL Developer training.
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- Key Skill -->
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <i class="large blue dropdown icon"></i>
                                Problem Solving
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    I was able to trouble shooting issues in bespoke third party software which can't be googled.
                                </p>
                            </div>
                        </div>
                    </td>
                    <!-- Tech Skill -->
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <i class="large blue dropdown icon"></i>
                                Data Analytics / ElasticSearch
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    At Leadec created a system from start to finish which involved ElasticSearch. See projects page for some more details.
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- Key Skill -->
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <i class="large blue dropdown icon"></i>
                                Crisis management
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    Many times I've had to support IT outtages while comunicating the issue to third party developer support to resolve issue while business is losing £1,000's a minute.
                                </p>
                            </div>
                        </div>
                    </td>
                    <!-- Tech Skill -->
                    <td>
                        <div class="ui accordion">
                            <div class="title">
                                <i class="large blue dropdown icon"></i>
                                WebDev / C# ASP.net / HTML5 / JS / CSS3
                            </div>
                            <div class="content">
                                <p class="transition hidden">
                                    See projects page for more info. 
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>


@*
    <tr>
    <!-- Key Skill -->
    <td>
        <div class="ui accordion">
            <div class="title">
                <i class="large blue dropdown icon"></i>
                Full Clean Driving License
            </div>
            <div class="content">
                <p class="transition hidden">
                    I got Skill 3 by x y z
                </p>
            </div>
        </div>
    </td>
    <!-- Tech Skill -->
    <td>
        <div class="ui accordion">
            <div class="title">
                <i class="large blue dropdown icon"></i>
                PowerShell
            </div>
            <div class="content">
                <p class="transition hidden">
                    I got Skill 4 by x y z
                </p>
            </div>
        </div>
    </td>
</tr>
    *@
